@{
    ViewData["Title"] = "Get to Know Joel";
}

<h2>@ViewData["Title"]</h2>

<p>Joel performs regularly at <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>.</p>
<p>Check out Joel's podcast, Baconsale, <a href="https://baconsale.com/" target="_blank">here</a>.</p>

<a href="https://baconsale.com/" target="_blank">
    <img src="~/images/BaconsaleKate.jpg" alt="Baconsale Podcast" class="img-fluid" />
</a>
